body {
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace;
}

button {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
}
